<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="base_length" value="0.255" />
  <xacro:property name="base_width" value="0.1954" />
  <xacro:property name="base_height" value="0.04" />
  <xacro:property name="base_mass" value="10" />

  <xacro:property name="wheel_radius" value="0.03" />
  <xacro:property name="wheel_width" value="0.031" />
  <xacro:property name="wheel_pos_x" value="0.1005" />
  <xacro:property name="wheel_pos_y" value="0.1145" />
  <xacro:property name="wheel_pos_z" value="-0.01340" />
  <xacro:property name="wheel_mass" value=".6" />
  <xacro:property name="wheel_torque" value="20" />

  <xacro:property name="laser_pose">
    <origin xyz="-0.099 0.1275 0.046" rpy="0 0 1.57"/>
  </xacro:property>

  <xacro:property name="depth_sensor_pose">
    <origin xyz="0.2375 0 0.06" rpy="0 0 0"/>
  </xacro:property>
</robot>